= form_for [:admin,@page] do |f|
  - if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Page Details
    .field
      = f.label :name, 'Page Title'
      = f.text_field :name

    .field
      = f.label :permalink
      .row.collapse
        .large-3.columns
          %span.prefix{style: 'text-align: right'} http://www.rousefilm.com/
        .large-9.columns
          = f.text_field :permalink, placeholder: "Enter URL..."
        / %p.hint>
        /   %span> i.e. http://www.rousefilm.com/
        /   %span.permalink< PERMALINK
  .field
    /= f.label :content
    = f.text_area :content, class: "redactor"
  .actions
    = f.submit 'Save Changes', class: 'button large expand'
