#popup.noSwipe
  #video-modal
    #pages
      - Page.all.each do |page|
        %div{id: page.permalink}
          %h1= page.name
          = page.content.html_safe

= link_to "Close", "#", id: 'close'

#holder
  #polaroid
    #box
    #top
    .side.left
    #image
    .side.right
    #text
      %p
        %span#video-kind Kind:
        %span#video-name Name
      %p
        %span#video-clientlabel Client:
        %span#video-client Client

  %ul#video-thumbs<
    - @videos.each_with_index do |video, index|
      %li.thumb>
        = link_to video, data: { kind: video.kind, name: video.name, client: video.client, video: video.video, poster: video.poster }, class: 'video-link' do
          = image_tag video.thumbnail
        .popup
          = content_tag_for :video, video, width: 710, height: 400, poster: video.poster, controls: 'controls', preload: 'none', style: 'width:100%; height:100%;' do
            / %source{src: video.video, type: "video/mp4"}
            %source{src: video.video.gsub('.mp4','-small.mp4'), type: "video/mp4"}
            %source{src: video.video.gsub('mp4','webm'), type: "video/webm"}
            %source{src: video.video.gsub('mp4','ogg'), type: "video/ogg"}
            %object{width: '640', height: '480', type: 'application/x-shockwave-flash', data: asset_path('flashmediaelement.swf')}
              %param{name: 'movie', value: asset_path('flashmediaelement.swf')}
              %param{name: 'flashvars', value: "controls=true&file=#{video.video}"}
              %param{name: 'allowFullScreen', value: "true"}


  #left.bar
  #right.bar
