= content_tag_for :li, video do
  .thumbnail
    .img
      .processed= image_tag video.thumbnail
      .waiting= image_tag "loader.gif"
  .details
    .name
      %strong= link_to video, edit_admin_video_path(video)


    = video.kind
    = video.client
    / = video.kind.present? ? "#{video.kind}:" : "[Kind]:"
    / = video.client.present? ? video.client : "[Client]"
