= content_tag_for :li, video do
  .thumbnail
    .img
      = link_to edit_admin_video_path(video) do
        = image_tag video.thumbnail
      / .waiting= image_tag "loader.gif"
  .details
    .id{style: 'display: none'}= video.id
    .name{style: 'display: none'}= video.name
    = link_to "x", admin_video_path(video), method: 'delete', class: 'delete', confirm: "Are you sure you want to delete '#{video}'?"
    %strong= link_to video, edit_admin_video_path(video)
    - if video.kind.present?
      .kind
        %span.lab Kind:
        %span.k= video.kind || "undefined"
    - if video.client.present?
      .client
        %span.lab Client:
        %span.c= video.client || "undefined"
    / = video.kind.present? ? "#{video.kind}:" : "[Kind]:"
    / = video.client.present? ? video.client : "[Client]"
