.row
  .large-12.columns
    %h1 Editing Video
    = link_to "Delete Video", [:admin, @video], method: 'delete'
    = form_for [:admin,@video] do |f|

      %fieldset
        %legend Video Details
        .row
          .large-6.columns
            = f.label :name
            = f.text_field :name
          .large-6.columns
            = f.label :kind
            = f.text_field :kind, placeholder: "e.g. Advert, Viral"
        .row
          .large-12.columns
            = f.label :client
            = f.text_field :client

      .input
        - if @video.attachment_url.present? && @video.zencoder_output_id.present?# && @video.processed?
          %video#my_video_1.video-js.vjs-default-skin{:controls => "", "data-setup" => "{}", :height => "264", :poster => "my_video_poster.png", :preload => "auto", :width => "640"}
            %source{:src => "#{@video.attachment.url}", :type => "video/mp4; codecs='avc1.42E01E, mp4a.40.2'"}
        - else
          %p Please be patient while we process this video


      = f.submit "Update Video", class: "button large expand"