.row
  .large-8.small-7.columns
    %h1 Edit Video
  .large-2.small-5.columns{style: 'padding-top: 1em; text-align: right'}
    = link_to "Delete Video", [:admin, @video], method: 'delete', class: 'button small round alert', confirm: "Are you sure that you want to delete '#{@video}'?"
.row
  .large-12.columns
    = simple_form_for [:admin,@video], validate: true do |f|

      %fieldset
        %legend Details
        .row
          .large-6.columns
            = f.input :name
          .large-6.columns
            = f.input :kind, placeholder: "e.g. Advert, Viral"
        .row
          .large-12.columns
            = f.input :client


      .row#video-section{data: { url: processed_video_path(@video)}}

        .processed
          .large-8.columns
            %fieldset
              %legend Video
              %p.hint Pick a different thumbnail to change the screenshot image.
              .input{style: 'width: 100%'}
                / #video-holder{data: { url: @video.attachment.url}}
                - if @video.attachment_url.present? && @video.zencoder_output_id.present?# && @video.processed?
                  %video#my_video_1.video-js.vjs-default-skin{'cross-origin' => 'anonymous', :controls => "", "data-setup" => "{}", :height => "320", :poster => "#{@video.poster}?#{@video.created_at.to_i}", :preload => "auto", :width => "100%", :style => 'width: 100%'}
                    %source{'cross-origin' => 'anonymous', :src => "#{@video.video.gsub('.mp4','-small.mp4')}?#{@video.created_at.to_i}", :type => "video/mp4; codecs='avc1.42E01E, mp4a.40.2'"}
                - else
                  %p Please be patient while we process this video
          .large-4.columns#thumbnail-column
            %fieldset
              %legend Thumbnail
              %p.hint Scroll through the thumbnails below and click to select the one you want to use.
              = f.hidden_field :thumbnail
              %ul#thumbnails{data: {current: @video.thumbnail.match(/_(\d+).jpg/)[1]}}
                - @video.thumbnails.each do |thumbnail|
                  %li.thumbnail{class: ('active' if thumbnail == @video.thumbnail)}
                    = image_tag "#{thumbnail}?#{@video.created_at.to_i}"
              / / %img#thumb{style: 'width: 400px; height: 400px;'}
              / %canvas#canvas{style: 'width: 100%; height: 200px;'}
              / = button_tag "Capture", class: 'button', id: 'capture'

        .large-12.columns.waiting
          %fieldset
            %legend Video (Coming Soon)
            %p.hint
              .columns.large-1= image_tag "ajax-loader.gif", style: 'margin-right: 10px;'
              .columns.large-11.hint This video is currently being encoded, once it is ready it will automatically appear here. Depending on the length of the video this process should only take 3-10 minutes after uploading.

            / %p This graphic will show loading progress soon...
            / %input.knob{value: 35, data: {fgColor: '#37A5CF'}}

      = f.submit "Update Video", class: "button large expand"