.row
  .large-10.columns
    %h1 Editing Video
  .large-2.columns{style: 'padding-top: 1em; text-align: right'}
    = link_to "Delete", [:admin, @video], method: 'delete', class: 'button small round', style: 'background: #c60f13', confirm: "Are you sure that you want to delete '#{@video}'?"
.row
  .large-12.columns
    = form_for [:admin,@video] do |f|

      %fieldset
        %legend Details
        .row
          .large-6.columns
            = f.label :name
            = f.text_field :name
          .large-6.columns
            = f.label :kind
            = f.text_field :kind, placeholder: "e.g. Advert, Viral"
        .row
          .large-12.columns
            = f.label :client
            = f.text_field :client

      %fieldset
        %legend Video
        .row
          .large-8.columns
            .input
              / #video-holder{data: { url: @video.attachment.url}}
              - if @video.attachment_url.present? && @video.zencoder_output_id.present?# && @video.processed?
                %video#my_video_1.video-js.vjs-default-skin{'cross-origin' => 'anonymous', :controls => "", "data-setup" => "{}", :height => "264", :poster => @video.thumbnail, :preload => "auto", :width => "640"}
                  %source{'cross-origin' => 'anonymous', :src => "#{@video.attachment.url}", :type => "video/mp4; codecs='avc1.42E01E, mp4a.40.2'"}
              - else
                %p Please be patient while we process this video
          .large-8.columns
            / %img#thumb{style: 'width: 400px; height: 400px;'}
            %canvas#canvas{style: 'width: 100%; height: 200px;'}
            = button_tag "Capture", class: 'button', id: 'capture'


      = f.submit "Update Video", class: "button large expand"