!!!
%html
  %head
    %title ADMIN : James Rouse
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    "admin", :media => "all"
    / = stylesheet_link_tag    "http://vjs.zencdn.net/c/video-js.css"
    / = javascript_include_tag "http://vjs.zencdn.net/c/video.js"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body.admin{ class: "a_#{action_name} c_#{controller_name}"}
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a= link_to "Admin Area", admin_root_path
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section
        / Left Nav Section
        %ul.left
          %li.divider
          %li.has-dropdown
            = link_to "Videos", admin_videos_path
            %ul.dropdown
              %li= link_to "Manage Videos", admin_videos_path
              %li= link_to "Edit Homepage Order", edit_order_admin_videos_path
          %li.divider
          %li.has-dropdown
            = link_to "Pages", admin_pages_path
            %ul.dropdown
              - Page.all.each do |page|
                %li= link_to page, edit_admin_page_path(page)
        %ul.right
          %li.divider
          %li= link_to "Preview Site", root_path

    - flash.each do |name, msg|
      .row
        .columns.large-12
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            / %a.close{"data-dismiss" => "alert"} ×
            = msg

    = yield
