!!!
%html
  %head
    %title James Rouse | Director
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "http://vjs.zencdn.net/c/video-js.css"
    = javascript_include_tag "http://vjs.zencdn.net/c/video.js"
    = javascript_include_tag "application"
  %body
    %header
      = link_to root_url do
        = image_tag "rouse.png", id: 'logo'
      %p#job James Rouse - Director
    = yield
    %footer
      %nav
        %ul
          %li= link_to "Awards", page_path("awards"), data: { popup: true }
          %li= link_to "Biography", page_path("biography"), data: { popup: true }
          %li= link_to "Contact", page_path("contact"), data: { popup: true }
